<div class="home-banner">
  <h1>VeSkaters</h1>
  <p>
    <span id="banner-typed-text" style="color: black"></span>
  </p>

  <div class="box" id="box">
    <form action="skates/" method="get">
      <input type="text" name="search" placeholder="   Type...">
      <input type="submit" name="" value="Search">
    </form>
  </div>

</div>
