<div class="dropdown mt-2">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtrar
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "Precio Desc", skates_path(filter: "price-desc"), class:"dropdown-item"%>
    <%= link_to "Precio Asc", skates_path(filter: "price-asc"), class:"dropdown-item"%>
    <%= link_to "Ubicacion", skates_path(filter: "ubicacion"), class:"dropdown-item"%>
    <a class="dropdown-item" href="#">Popularidad</a>
  </div>
</div>