<footer class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-md ml-5">
      <span style="width:100px;"><i class="fas fa-skating"></i></span>
      <h4>VeSkaters</h4>
      <p>ALL RIGHTS RESERVED.</p>
      <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>ACERCA DE</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cómo funciona VeSkaters</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>COMUNIDAD</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Accesibilidad</a></li>
        <li><a class="text-muted" href="#">Colaboradores de VeSkaters</a></li>
        <li><a class="text-muted" href="#">VeSkaters.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>NOSOTROS</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Quienes somos?</a></li>
        <li><a class="text-muted" href="#">Porque nosotros</a></li>
      </ul>
    </div>
  </div>
</footer>
