<div class="card" style="width: 18rem;">
        <div class = "card-image card-img-top">
            <%= render "carousel" %>
        </div>
        <div class="card-body">
            <div class = "d-flex justify-content-between">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">$5/dia</p>
            </div> 
            <h6 class="card-subtitle text-muted">Distancia</h6>                     
        </div>
    </div>