<div class="dropdown mt-2">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filtrar
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Precio</a>
    <a class="dropdown-item" href="#">Ubicacion</a>
    <a class="dropdown-item" href="#">Popularidad</a>
  </div>
</div>