<%= render "shared/navbar" %>
<%= render "shared/banner" %>
<div class="contenedor">
  <h2 class="mt-5">Explora cerca de ti</h2>

<div class="row mb-5">
  <div class="mb-3 col col-3 col-xs-6">
    <div class="row">
      <div class="col-4">
        <img src="https://i.ytimg.com/vi/aep905Sxz7w/hqdefault.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Caracas</h5>
        <p>15 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.aOm4n4KrIY6D2qeOBafyCQHaEa?pid=ImgDet&rs=1" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>SkatePark Zoologico</h5>
        <p>15 minutos</p>
      </div>
    </div>
  </div>
    <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://th.bing.com/th/id/OIP.9MUuMW1qXAlMbgwfUO9iPwHaJ4?pid=ImgDet&rs=1" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Los Proceres</h5>
        <p>40 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://i.pinimg.com/originals/4e/bd/3b/4ebd3b440ed8ae63551ac1f86117056e.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Cota 1000</h5>
        <p>35 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://i.pinimg.com/originals/4e/bd/3b/4ebd3b440ed8ae63551ac1f86117056e.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Cota 1000</h5>
        <p>35 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://i.pinimg.com/originals/4e/bd/3b/4ebd3b440ed8ae63551ac1f86117056e.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Cota 1000</h5>
        <p>35 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://i.pinimg.com/originals/4e/bd/3b/4ebd3b440ed8ae63551ac1f86117056e.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Cota 1000</h5>
        <p>35 minutos</p>
      </div>
    </div>
  </div>
  <div class="mb-3 col-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-4">
        <img src="https://i.pinimg.com/originals/4e/bd/3b/4ebd3b440ed8ae63551ac1f86117056e.jpg" alt="" style="width:90px; height: 80px; border-radius: 10px;">
      </div>
      <div class="col-8">
        <h5>Cota 1000</h5>
        <p>35 minutos</p>
      </div>
    </div>
  </div>
</div>

<h2 class="mb-5">Nuestros productos.</h2>

<div class="cards-home mb-5">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/OIP.eJQtn36Wyvufv3LiVBY8PwHaE8?pid=ImgDet&w=640&h=427&rs=1)">
    Patinetas
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hibridosyelectricos.com/media/hibridos/images/2020/11/05/2020110515560802634.jpg)">
    Bicicleta
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/OIP.IsbPmxg9m8k2DApxj2_k-QHaHa?pid=ImgDet&rs=1)">
    Patines
  </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://360scooters.com/wp-content/uploads/2020/12/swissgo-PT010_4-600x600-1.jpg)">
    Monopatin
  </div>
</div>

<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://www.lakewanaka.co.nz/assets/Tourism-Operators/images/20150829-pedropimentel-net-Wanaka-Skate-Park-Opening-451.jpg);">
  <div class="container">
    <h1>Conoce la historia del skate.</h1>
    <p>El monopatinaje,s un deporte que consiste en deslizarse sobre un monopatín y a la vez poder realizar diversos trucos, gran parte de ellos elevando la tabla del suelo, haciendo piruetas con ella en el aire.</p>
    <a class="btn btn-primary" href="https://www.historiadetudo.com/historia-do-skate#:~:text=A%20hist%C3%B3ria%20do%20skate%20surgiu%20a%20partir%20de,n%C3%A3o%20dava%20para%20surfar%20de%20verdade%20%28baixa%20mar%C3%A9%29." target="_blank">Ver link</a>
  </div>
</div>

</div>
