<<<<<<< HEAD
<h1>Skates#show</h1>
<p>Find me in app/views/skates/show.html.erb</p>
<%= @skate.descripcion %>
=======
<%= render "/shared/navbar2" %>

<div class = "container mt-5 pt-5">
    <div class = "product-details">
    </div>
    <div class = "carousel-container row">
        <div class = "col-6">
            <%= render "shared/carouselShow", photos: @skate.photos, id_name: @skate.id%>
        </div>
        <div class = "col-6">
            <%= render "shared/map" %>
        </div>
    </div>
</div>

>>>>>>> 96b5856af546e785ecc57c276244abc06287cf59
