<%= render "/shared/navbar2" %>

<div class = "container mt-5 pt-5">
    <div class = "product-details">
    </div>
    <div class = "carousel-container row">
        <div class = "col-6">
            <%= render "shared/carouselShow", photos: @skate.photos, id_name: @skate.id%>
        </div>
        <div class = "col-6">    
            <%= render "shared/map" %>
        </div>    
    </div>
</div>

